@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Aref+Ruqaa:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  /* Fonts  */
  --font-reqaa: "Aref Ruqaa", "serif";
  --font-almarai: "Almarai", sans-serif;

  /* Colors */
  --color-accent-main: #ceb597;
  --color-accent-dark: #724742;
  --color-accent-dark-2: #5e3b37;
  --color-secondary: #b39a7e;
  --color-main-text: #3c3635;
  --color-secondary-text-light: #f2dfc7;
  --color-card-bg: #f7eee1;
  --color-main-bg: #f9f9f9;
  --color-accent-main-light: #dec8ad;
  --color-deep-black: #1a1a1a;
  /* ====== */
}

html {
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--color-accent-main);
  color: var(--color-white);
}
body {
  font-family: var(--font-almarai);
  color: var(--color-main-text);
  direction: rtl;
}

.main-hover {
  @apply opacity-90 hover:opacity-100 transition-opacity duration-300;
}

.hero-sec {
  background-color: var(--color-accent-dark-2);
}
#about,
.hero-sec,
#categories {
  background-image: url("/images/background-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#quote {
  background-image: url("/images/quote-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  margin: 4rem auto;
}
#card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#cart-items::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-accent-main-light);
}
#cart-items::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-dark-2);
  border-radius: 10px;
  width: 5px;
}
#cart-item:not(:last-child) {
  border-bottom: 1px solid var(--color-accent-main-light);
}

/* Media Queries for sonner toaster */
@media (max-width: 640px) {
  [data-sonner-toaster] {
    left: 50% !important;
    transform: translateX(-5%) !important;
    width: max-content !important;
    min-width: 90vw;
    -webkit-transform: translateX(-5%) !important;
    -moz-transform: translateX(-5%) !important;
    -ms-transform: translateX(-5%) !important;
    -o-transform: translateX(-5%) !important;
  }

  [data-sonner-toast] {
    justify-content: center !important;
  }
}
