@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Aref+Ruqaa:wght@400;700&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

/* ---break---  */

@custom-variant dark (&:is(.dark *));

@theme {
  /* Fonts  */
  --font-reqaa: "Aref Ruqaa", "serif";
  --font-almarai: "Almarai", sans-serif;

  /* Colors */
  --color-accent-main: #ceb597;
  --color-accent-dark: #724742;
  --color-accent-dark-2: #5e3b37;
  --color-secondary: #b39a7e;
  --color-main-text: #3c3635;
  --color-secondary-text-light: #f2dfc7;
  --color-card-bg: #f7eee1;
  --color-main-bg: #f9f9f9;
  --color-main-bg-2: #f4f1ee;
  --color-accent-main-light: #dec8ad;
  --color-deep-black: #1a1a1a;
  --color-dark-metallic: #3e2723;
  /* ====== */
}

html {
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--color-accent-main);
  color: var(--color-white);
}
body {
  font-family: var(--font-almarai);
  color: var(--color-main-text);
  direction: rtl;
  overflow-x: hidden;
}
::scroll-marker {
  display: none;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-accent-main-light);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-dark);
  border-radius: 10px;
  width: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-metallic);
}

.main-hover {
  @apply opacity-90 hover:opacity-100 transition-opacity duration-300;
}

.hero-sec {
  background-color: var(--color-accent-dark-2);
}
#about,
#categories {
  background-image: url("/images/background-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#quote {
  background-image: url("/images/quote-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 90%; */
  /* margin: 4rem auto; */
}
#card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#cart-items::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-accent-main-light);
}
#cart-items::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-dark-2);
  border-radius: 10px;
  width: 5px;
}
#cart-item:not(:last-child) {
  border-bottom: 1px solid var(--color-accent-main-light);
}

/* Media Queries for sonner toaster */
@media (max-width: 640px) {
  [data-sonner-toaster] {
    left: 50% !important;
    transform: translateX(-5%) !important;
    width: max-content !important;
    min-width: 90vw;
    -webkit-transform: translateX(-5%) !important;
    -moz-transform: translateX(-5%) !important;
    -ms-transform: translateX(-5%) !important;
    -o-transform: translateX(-5%) !important;
  }

  [data-sonner-toast] {
    justify-content: center !important;
  }
}
/* ---break---  */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/* ---break---  */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}
/* ---break---  */
.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}
/* ---break---  */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
